@charset "UTF-8";

html {
	font-family: serif;
	font-weight: 900;
}
html * {
    box-sizing: border-box;
}
.wrapper {
	margin: 0 auto 0 auto;
	max-width: 960px;
	text-align: center;
}
body {
	margin-bottom: 150px;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
}
a:hover {
	color: #E8AB8F;
}
a:active {
	color: #E8AB8F;
}
.ope_link a:link {
    color: #cc6666;
}
.ope_link a:visited {
    color: #cc6666;
}
.ope_link a:hover {
	color: #7f1000;
}
.ope_link a:active {
	color: #7f1000;
}
.title {
	border-bottom: 1px solid #cc6666;
	color: #cc6666;
	margin-bottom: 100px;
}
.link_box {
	display: flex;
	justify-content: center;
}
.link_botton {
	width: 125px;
	height: 30px;
	background-color: #cc6666;
	font-size: 16px;
	padding: 3px 0px;
	margin: 0px 25px 0px 25px;
}
/*product_list.php*/
.list {
	border-collapse: collapse;
	margin: 100px 0px;
}
.list tr, .list td, .list th {
	padding: 8px;
	width: 200px;
	border-bottom: 1px solid #bec2c7;
	text-align: center;
}
.error {
	font-size:14px;
	color: red;
}
.paging {
	margin: 80px 38px 0px 0px;
}
.paging li{
	display: inline;
	background-color: white;
	padding: 15px 25px;
}
.page_count {
	color: #666;
}
.paging a:link {
	color: #cc6666;
	text-decoration: none;
}
.paging a:visited{
	color: #cc6666;
}
.paging a:hover {
	color: #E8AB8F;
}
.paging a:active {
	color: #E8AB8F;
}
/*product_view.php*/
.view_list_box {
	margin: 50px 0px 60px 0px;
}
.view_list {
	border-collapse: collapse;
}
.view_list tr {
	border-bottom: 1px solid #bec2c7;
}
.view_list th {
	width: 100px;
	text-align: center;
	padding: 10px 0px;
}
.view_list td {
	width: 300px;
	text-align: center;
}
#botton {
	margin-right: 10px;
}
/*product_add.php*/
.big_picture {
	margin-top: 80px; 
}
input[type="submit"], input[type="button"] {
	margin: 50px 0px 0px 30px;
	color: white;
	font-family: serif;
	font-size: 15px;
	font-weight: 900;
	width:10em;
	height: 2em;
	background-color: #cc6666;
	border: #cc6666;
}
input[type="file"] {
	margin-right: 350px;
}
.product_form {
	border-collapse: collapse;
	margin-top: 50px;
}
.product_form th {
	width: 100px;
	text-align: center;
	padding: 10px 0px;
}
.product_form td {
	width: 200px;
	text-align: center;
}

/*〇〇_〇〇_result.php*/
.result {
	margin: 150px 0px 20px 0px;
}









.sample{
	display:block;
	width:300px;
	height:200px;
	text-align:center;
	position:relative;
	overflow:hidden;
	border:#CCC solid 2px;
}
.sample img{
	position:absolute;
	top:0;
	left:0;
}

